* {
  box-sizing: border-box;
}

/* Style the body */
html, body {
    padding: 0;
    margin: 0;
    height: 100%;
    background: black;
}

body {
    font-family: Arial;
}

/* Header/logo Title */
.header {
  padding: 1%;
  text-align: center;
  background: black;
  color: green;
  height: 40%;
  margin-bottom: 50px;
}

/* Style the top navigation bar */
.navbar {
  display: flex;
  background-color: #333;
  border: 2px solid green;
}

/* Style the navigation bar links */
.navbar a {
    color: green;
    padding: 25px 20px;
    text-decoration: none;
    text-align: center;
    min-width: 25%;
    height: 60px;
    border: 2px solid green;
    border-bottom: none;
 }

/* Change color on hover */
.navbar a:hover {
    background-color: #ddd;
    color: green;
}

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
    min-height: 63%;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.side {
    flex: 10%;
    background-color: black;
    padding: 20px;
    color: green;
    border: 2px solid green;
}

/* Main column */
.main {
    flex: 90%;
    background-color: black;
    border: 2px solid green;
    color: green;
    padding: 20px;
}

.row2 {
    padding: 0px 0px 0px 50px;
}

.row2 li{
    font-size: 20px;
}

.Footer {
    background-color: black;
    color: green;
    min-height: 10%;
    border: 2px solid green;
    padding: 20px;
}