
.product-card-container{
    height: inherit;
    border: 1px black solid;
}

.card-header{
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: rgba(61, 61, 61, .1);

    .product-image {
        height: 80%;
        width: 80%;
    }
}

.card-body{
    height: 35%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .product-title {
        font-size: 1.25rem;
        height: 33%;
        width: 80%;
        align-content: center;
        text-align: center;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    .product-price {
        height: 34%;
        font-size: 1.5rem;
        font-weight: bold;
        align-content: center;
    }

    .product-other {
        height: 33%;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.card-footer{
    height: 15%;
    align-items: center;
    justify-content: center;
    display: flex;

    button {
        width: 80%;
        height: 50%;
        max-height: 30px;
        background-color: yellow;
    }

    button:disabled {
        background-color: grey;
    }
}